language: node_js
node_js:
- stable
cache:
  directories:
  - node_modules
script:
- npm run lint
- npm test
- npm run build
before_install:
- openssl aes-256-cbc -K $encrypted_f81a49c4147e_key -iv $encrypted_f81a49c4147e_iv
  -in a3-software-qa-427550ad5968.json.enc -out a3-software-qa-427550ad5968.json
  -d

deploy:
  provider: gae
  keyfile: a3-software-qa-427550ad5968.json
  project: a3-software-qa
  on:
    branch: main
